

.login-box {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin: 100px auto;
    width: 60%;
	min-width: 100px;
	max-width: 600px;
	padding: 20px;
}

h2 {
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input[type="submit"] {
	background-color: #0E8388;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0E8388;
}

.error_message{
    color: red;
    padding-bottom: 10px;
}

.login_submit{
    margin-top: 20px;
}