.dashboard-admin a{
    text-decoration: 'none';
}

.dashboard-admin a:hover{
    font-weight: bolder;

}
.card-center{
    display: flex;
    justify-content: center;
    text-align: center;

}

.retournCellier {
    display: none;
}

@media screen and (max-width: 575px) {
    .retournCellier {
        display: block;
    }

    .navEntete-item {
        list-style-type: none;
    }
}
