.button-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set the height of the container */
    margin: 20px 0 10px 0;
  }

  /* .button-middle button{
    background-color: #0e8388;
  }

  .button-middle:hover button{
    background-color: #0e8388;
  } */

  .button-right {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 20px 0 10px 0;
    
  }

 .elmFormBoutteilCellier {
    display: flex !important;
  }

  .nonDecoration{
    text-decoration: none;
  }

  .responsive-table {
    width: 100%;
  }

  .carteBouteilleListe {
    display: flex;
    gap: 5%;
  }

  .btnFermerBoutListe {
    position: absolute;
    top: 5px; right: 10px;
  }

  .carteBouteilleListe img {
    object-fit: contain;    
  }

  .carteBouteilleListe__infos {
  }
  
  @media screen and (max-width: 768px) {
    .ant-table {
      overflow-x: auto;
      display: block;
    }
  
    .ant-table td:nth-of-type(3),
    .ant-table th:nth-of-type(3),
    .ant-table td:nth-of-type(4),
    .ant-table th:nth-of-type(5),
    .ant-table td:nth-of-type(5),
    .ant-table th:nth-of-type(5) {
      display: none;
    }
  }

  
  