.button-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set the height of the container */
    margin: 20px 0 10px 0;
  }

  /* .button-middle button{
    background-color: #0e8388;
  }

  .button-middle:hover button{
    background-color: #0e8388;
  } */

  .button-right {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 20px 0 10px 0;
    
  }

 .elmFormBoutteilCellier {
    display: flex !important;
  }

  .nonDecoration{
    text-decoration: none;
  }

  .responsive-table {
    width: 100%;
  }

  .nom_bouteille {
    width: 100%;
  }

  .iconFermerBoutListe {
    position: absolute;
    /* color: red; */
    font-size: 1.5rem;
    top: 10px; right: 10px;
  }

  .carteBouteilleListe {
    background-color: rgb(252, 252, 252);
    margin: 15px 0;
    border-radius: 10px;
    padding: 0 5px !important;
  }

  .carteBouteilleListe__titre {
    text-align: center;
    font-size: 1.1rem;
    /* color: rgb(8, 18, 136); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30px;
  }

  .carteBouteilleListe__corps {
    display: flex;
    justify-content: space-between;
  }

  .carteBouteilleListe__corps img {
    align-self: stretch;
    width: 30%;
    object-fit: contain;    
  }

  .carteBouteilleListe__infos {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .carteBouteilleListe__infos p {
    margin: 5px 0;
  }

  .btnLienSAQ {
    display: flex;
    margin: auto;
    max-width: max-content;
    margin-top: 25px;
    text-decoration: none;
    color: #0d6efd !important;
  }

  .formAjoutBoutAuCellier {
    margin-top: 20px;
  }
  
  .formAjoutBoutAuCellier label {
    margin-top: 0;
  }

  .formAjoutBoutAuCellier Input {
    margin: 0;

  }
 
  @media screen and (max-width: 768px) {
    .ant-table {
      overflow-x: auto;
      display: block;
    }
  
    .ant-table td:nth-of-type(3),
    .ant-table th:nth-of-type(3),
    .ant-table td:nth-of-type(4),
    .ant-table th:nth-of-type(5),
    .ant-table td:nth-of-type(5),
    .ant-table th:nth-of-type(5) {
      display: none;
    }
  }

  
  