            <Table
                columns={columns}
                dataSource={data}
                pagination={{ pageSize: 3 }}
                rowKey={(item) => item.id}
                className="responsive-table"
                rowClassName={(record, index) => {
                    return index % 2 === 0 ? 'even-row' : 'odd-row';
                  }}
                  onRow={(record) => ({
                    onClick: () => {
                      console.log("quo quo");
                    },
                  })}
            />




            
  <Card title="carteBouteilleCellier" bordered={false} style={{ width: 300 }}>
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </Card>


  <img src="../../../../public/img/boutNl.JPG" alt="">


  <Row justify="center" align="middle" gutter={[0, 16]}>
    <div class="monCellier">
        {data.map((item, index) => (
          <Col
          xs={20}
          sm={16}
          md={12}
          lg={8}
          xl={8}
          xxl={4}
          key={item.id}
          >
          <Card
            key={item.id}
            title={item.title}
            bordered={false}
            className="carteBouteilleCellier"
          >
              <div className="carteBouteilleListe__titre">
                  <p><FieldNumberOutlined /> {index+1}- <b>{item.nom}</b></p>
              </div>
              <div className="carteBouteilleListe__corps">
              <>
                  <div className="quantiteBout">
                      <Button
                          icon={<MinusOutlined />}
                          shape="circle"
                          onClick={(e) => {
                              console.log("Augementer: ", item);
                              //augmentQuantiteBouteille(item.id);
                          }}
                      >
                      </Button>
                      {item.quantite}
                      <Button
                          icon={<PlusOutlined />}
                          shape="circle"
                          onClick={() => {
                              console.log("Diminuer: ", item.quantite);
                          }}
                      >
                      </Button>
                  </div>
                              
                      <p>Pays: {item.pays}</p>
                      <p>Prix: {item.prix}</p>
                      <div className="btnModifBout">
                          <Button
                              className="userBtn"
                              danger
                              shape="circle"
                              icon={<DeleteOutlined />}
                              onClick={() => {
                                  setIdBoutASupprim(item.id);
                                  setModalSupprimeBoutteilCellier(item.id);
                              }}
                          ></Button>
                          <Button
                              type="primary"
                              shape="circle"
                              icon={<EditOutlined />}
                              onClick={() => handleUpdate(item)}
                          ></Button>
                          
                      </div>
                  </>
                  <>
                      <img src={item.image ? item.image : "img/boutNl.JPG"} alt=""/>
                  </>
              </div>
          </Card>
          </Col>
        ))}
      </div>
      </Row>